<!-- Add basic Header -->
<% include partials/header.ejs %>
	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
        width: 80%;
        margin: 10px auto;
      }
      /*Align the font with map*/
      #info{
      	margin-left: 10%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
	
	<h1 style="text-align: center; margin-top: 20px;">Weather check for 
		<span id="locName"><%= data["name"] %></span>
	</h1>
	<div style="margin-left: 10%">
		<a href="/">Check for another city?</a>
	</div>
	<div id="map"></div>

	<div id="info">
		<h3 style="display: table-cell; vertical-align: middle;">
			<img id="image" src="http://openweathermap.org/img/w/<%= data['weather'][0]['icon'] %>.png">
			<span id="description">
				<%= data["weather"][0]["description"] %>
			</span>
		</h3>
		<h4>
			Temprature: 
			<span id="temprature"><%= Math.floor((data["main"]["temp"]-273)*100)/100 %></span>
			<sup>o</sup>C | Humidity: 
			<span id="humidity"><%= data["main"]["humidity"] %></span>%
		</h4>

		<h4>
			Wind(m/s): 
			<span id="windSpeed"><%= data["wind"]["speed"] %></span>
			at 
			<span id="windDir"><%= data["wind"]["deg"] %></span>
			<sup>o</sup>
		</h4>
		<h5>Location: <%= data["name"] %>,<%= data["sys"]["country"] %></h5>
	</div>


<script src="/socket.io/socket.io.js">
</script>

<script>

	var socket = io();
	var map;
	var Gmarker;

	function initMap() {
 		// The location of Uluru
		var uluru = {lat: <%= data["coord"]["lat"] %>, lng: <%= data["coord"]["lon"] %>};

		// The map, centered at Uluru
		map = new google.maps.Map(
			document.getElementById('map'), {zoom: 10, center: uluru});

		// The marker, positioned at Uluru
		var marker = new google.maps.Marker({position: uluru, map: map});
		Gmarker = marker;

		// Click event Listner
		map.addListener('click',function(event){
			socket.emit('locChange',event.latLng);
			deleteMarker();
			addMarker(event.latLng);
			console.log(event);
		});
	};

	function addMarker(location){
		var marker = new google.maps.Marker({
			position: location,
			map: map
		});
		Gmarker = marker;
	};

	function deleteMarker(){
		Gmarker.setMap(null);
	};

	socket.on('newLoc',function(data){
		console.log(data);
		name = data['name'];
		country = data['sys']['country'];
		imageURL = "http://openweathermap.org/img/w/<%= data['weather'][0]['icon'] %>.png";
		description = data['weather'][0]['description']
		temp = data['main']['temp']-273;
		temp = Math.floor(temp*100)/100;
		humidity = data['main']['humidity']
		wind = data['wind']['speed']
		direction = data['wind']['deg']
		direction = Math.floor(direction);

		$('#locName').html(name);
		$('#image').attr('src',imageURL);
		$('#description').html(description);
		$('#temprature').html(temp);
		$('#humidity').html(humidity);
		$('#windSpeed').html(wind);
		$('#windDir').html(direction);
		// $('#image').attr("src",1"http://openweathermap.org/img/w/<%= data['weather'][0]['icon'] %>.png");
	});
</script>

<!-- Add basic footer -->
<% include partials/footer.ejs %>